body {
    background-color: rgb(121, 199, 250);
  
}

.clock {
  width: 450px;
  height: 450px;
  background-color: rgb(9, 108, 238);
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  margin-left: 500px;
  margin-top: 150px;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  opacity: 0.5;
}
.point {
  position: absolute;
  background-color: rgb(11, 177, 228);
  width: 20px;
  height: 20px;

  left: 50%;
  bottom: 50%;

  border-radius: 50%;

  transform: translate(-50%, 50%);
}

.number {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  
 
  font-size: 30px;
  transform: rotate(calc(var(--r) * 1deg));
}

.N1 {
  --r: 30;
  transform: translate(24%,7%);
  
}
.N2 {
  --r: 60;
  transform: translate(41%,25%);
}
.N3 {
  --r: 90;
  transform: translate(47%,47%);
}
.N4 {
  --r: 120;
  transform: translate(40%,70%);
}
.N5 {
  --r: 150;
  transform: translate(22%,88%);

}
.N6 {
  --r: 180;
  transform: translate(0,93%);
}
.N7 {
  --r: 210;
  transform: translate(-25%,87%);
}
.N8 {
  --r: 240;
  transform: translate(-42%,68%);

}
.N9 {
  
  transform: translate(-47%,47%);
  --r: 270;
}
.N10 {
  --r: 300;
  transform: translate(-41%,25%);
}
.N11 {
  --r: 330;
  transform: translate(-24%,7%);

}
.N12 {
  --r: 360;
}

.set {
  --r: 0;
  position: absolute;
  background-color: black;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%) rotate(calc(var(--r) * 1deg));
  transform-origin: bottom;
  border-radius: 25px;
}

.H {
  width: 12px;
  height: 28%;
  background-color:black;
  border: 2px solid white;
}

.M {
  width: 8px;
  height: 38%;
  background-color: black;
  border: 2px solid white;
}

.S {
  width: 2px;
  height: 45%;
  background-color: black;
  border: 2px solid white;
}
